@font-face {
    font-family: superAirBen;
    src: url(ressources/font/Super_Air_Ben.ttf);
}

@font-face {
    font-family: 'Monserrat';
    src: url(ressources/font/Montserrat-VariableFont_wght.ttf) format('ttf');
    font-weight: 400;
    font-style: normal;
}

a {
    color: white;
    text-decoration: none;
    cursor: none;
}

body {
    min-height: 100svh;
    width: 100vw;
    background: black;
    margin: 0;
    color: white;
    font-family: "Monserrat",sans-serif;
    overflow: hidden;
    cursor: none;
}

header {
    position: absolute;
    width: 94vw;
    top: 0;
    display: flex;
    z-index: 22;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 2rem 0rem;
    margin: 0 3rem;
    align-items: center;
    animation: fadeIn 3s;

}

.metal.Z:before{
    content: "ZAWA";
}

.metal:before{
    position: relative;
    top: 100%;

    background: linear-gradient(180deg, black 5%, rgb(56, 56, 56) 60%);
    background-clip: text;
    -webkit-text-stroke: 5px transparent;
}

.metal.P:before{
    content: "PROD";
}

#logo {
    --size: 4rem;
    font-size: var(--size);
    font-family: superAirBen, serif;
    display: flex;
    flex-direction: column;

    width: 6ch;
    text-align: center;
}

.metal.Z:after {
    content: "ZAWA";
    background: linear-gradient(182deg, rgb(47, 47, 47) 26%, rgba(234,234,234,1) 70%);
    background-clip: text;
}

.metal.P:after {
    content: "PROD";
    background: linear-gradient(182deg, rgba(234,234,234,1) 26%, rgba(54,54,54,1) 85%);
    background-clip: text;
}

.metal:after {
    position: relative;
    top: -100%;

    -webkit-text-stroke: 1px #aaa;
}

.metal{
    --size: 4rem;
    font-size: var(--size);
    line-height: calc(var(--size) / 2);
    color: transparent;
    -webkit-text-stroke: 7px #525252;
    transform: translateY(-100%);
    display: flex;
    flex-direction: column;
    height: calc(var(--size) / 2);
}

.metal.P{
    padding-left: 0.8ch;
}

.circle{
    position: relative;
    border-radius: 50%;
}

.medium {
    height: 4rem;
    width: 4rem;
}

.orange{
    background: #ffa342;
}

#background{
    position: absolute;
    display: flex;
    width: 100vw;
    background-repeat: repeat;
    height: 100svh;
    background-size: contain;
    background-image: url(ressources/img/texture.avif);
    opacity: 0.3;
    align-items: center;
    justify-content: center;
}

#overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
            90deg,
            rgba(255, 0, 0, 0.06),
            rgba(0, 255, 0, 0.02),
            rgba(0, 0, 255, 0.06)
    );
    background-size: 100% 4px, 30px 100%;
    z-index: 1;
    animation: flicker 100ms infinite;
}
#overlay:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    background: radial-gradient(
            circle,
            rgba(255, 255, 255, 0) 70%,
            rgba(0, 0, 0, 1) 100%
    );
    z-index: 2;
}

.cursor {
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
    border-radius: 50%;
    background: #ffa342;
    height: 0.5rem;
    width: 0.5rem;
    z-index: 23;
    pointer-events: none;
}

footer {
    position: absolute;
    width: 94vw;
    bottom: 0;
    display: flex;
    z-index: 22;
    justify-content: space-between;
    font-size: 2rem;
    padding: 2rem 0rem;
    margin: 0 3rem;
    border-top: 1px solid grey;
    animation: fadeIn 3s;
}

.left-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#hero{
    display: flex;
    align-items: center;
    height: 100svh;
    justify-content: center;
    width: 100vw;
    position: absolute;
    font-size: 15rem;
    -webkit-backdrop-filter: blur(5px);
    z-index: 22;
    user-select: none;
    pointer-events: none;
    opacity: 0;
    animation: fadeIn 3.5s 500ms ease;
    animation-fill-mode: forwards;
}

#hero svg{
    width: 44rem;
    height: 25rem;
}

.btn{
    width: fit-content;
}

.btn a{
    display: block;
    position: relative;
    padding: 0.2em 0;
}

.btn a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: white;
    transition: opacity 300ms, transform 300ms;
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

.btn a:hover::after,
.btn a:focus::after{
    transform: scale(1);
}

#tilting{
    width: 95%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

video{
    width: 55vw;
    position: absolute;
    border-radius: 8rem;
    filter: drop-shadow(1px 1px 23px rgba(0, 0, 0, 0.2));
}

#hero h2{
    color: #fff;
    font-weight: bold;
    font-size: 22rem;
    mix-blend-mode: difference;
    user-select: none;
}
